<!DOCTYPE html>
<html ng-app>
  <head>
  	<!--edit the title for your own name-->
    <title>Once a Week Family Recipes </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<!--edit the h1 tage for your own name-->
    <h1>Once a Week Family Recipes</h1>
    <h2 style="background-color:SlateBlue;">Hi! Welcome to my website! My name is Alli. I love cooking. I love teaching people about cooking. Because of that, I created this website filled with recipes. Almost every week, I will post my favorite recipe that I had that week for all of you to enjoy and share with your family and friends. </h2>
   <!--paste the links from indexwithlinks.ejs here--> 
    <p>Click on a link to visit a recipe page.</p>
   <a href="https://simple-toolchain-20190607152427041.mybluemix.net/information.html"></a>
   
   <img src="140_2019.JPG" width="333" height="500">
    <!--p>The user count in my nodejs application is: <%= userCount %></p-->
    
</html>
<!--a href="https://simple-toolchain-20190607152427041.mybluemix.net/information.html/">Information Sheet</a-->
