<!DOCTYPE html>
<html ng-app>
  <head>
  	<!--edit the title for your own name-->
    <title>***Allison***'s web site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<!--edit the h1 tage for your own name-->
    <h1>***Allison***'s web site</h1>
    <p>I am cool</p>
    <!--paste the links from indexwithlinks.ejs here-->
    <img src="https://cdn.shopify.com/s/files/1/0584/3841/products/100-polyester-yummy-world-amy-pineapple-plush-1_2048x.jpg"width="300" height="300">
    <p>The user count in my nodejs application is: <%= userCount %></p>   <!--copy this line for userbytwo-->
  </body>
</html>

