<!DOCTYPE html>
<html ng-app>
  <head>
  	<!--edit the title for your own name-->
    <title>Pillow Pals!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<!--edit the h1 tage for your own name-->
    <h1>Pillow Pals!</h1>
    <h2 style="background-color:SlateBlue;">Hi! Welcome to my website!</h2>
    <!--paste the links from indexwithlinks.ejs here--> 
    <p>Click on a link to visit a page.</p>
    <img src="https://cdn2.iconfinder.com/data/icons/music-player-icons-filled/50/Big_Note-512.png"width="300" height="300">
    <p>The user count in my nodejs application is: <%= userCount %></p>
    
</html>


