<!DOCTYPE html>
<html ng-app>
  <head>
  	<!--edit the title for your own name-->
    <title>Stuffed n' Fluffed Pillow Company</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<!--edit the h1 tage for your own name-->
    <h1>Stuffed n' Fluffed</h1>
    <h2 style="background-color:SlateBlue;">Hi! Welcome to my website! I make pillows that match your personality. All you have to do is tell me what you like, and I will create a pillow based on the information I will be given. </h2>
    <!--paste the links from indexwithlinks.ejs here--> 
    <p>Click on a link to visit a page.</p>
   <!--li><a href="https://simple-toolchain-20190607152427041.mybluemix.net/pitches.html">The Staff, Notes, and Pitches</a></li-->
   <img src="140_2019.JPG" alt="Pineapple" width="333" height="500">
    <!--p>The user count in my nodejs application is: <%= userCount %></p-->
    
</html>
<!--li><!--a href=".html"-->The Staff, Notes, and Pitches</a></li-->
